<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Importa as configurações de cabecalho -->
<head th:insert="layout/cabecalho">
<title>Cadastrar usuário administrativo</title>
</head>
<body>
<div class="container">
	<!-- Importa o menu padrão do sistema -->
	<div th:insert="layout/menu"></div>
	<br>
	
		<nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
    	<li class="breadcrumb-item">Cadastrar Usuário</li>
  		</ol>
		</nav>

  
  <form name="cadastrar_usuario" class="form-horizontal" th:action="@{/administracao/cadastrar_usuario}" method="POST" style="margin: 10px"  th:object="${usuarioModel}">
 
    <!-- Retorna uma mensagem na tela para o usuário após a operação -->
	<div class="alert alert-success" th:text="${mensagem}" th:if="${not #strings.isEmpty(mensagem)}"></div>
	<div class="alert alert-danger"  th:if="${#fields.hasAnyErrors()}">
		<div th:each="detailedError : ${#fields.detailedErrors()}">
			<span th:text="${detailedError.message}"></span>
		</div>	
	</div>
	
	<div class="row">
	
	<div class="col-md-12 col-sm-12">
  	<input class="form-control" type="hidden" maxlength="50" name="id_usuario" th:field="*{id_usuario}"/>
	
	<div class="col-md-12 col-sm-12">
    <label for="basic-url" class="font-weight-bold">NOME</label>
	<input class="form-control" type="text" maxlength="50" name="nome" th:field="*{nome}" placeholder="Nome completo" required onkeyup="return AlteraMaiusculas(this)"/>
	

    <div class="col-md-12 col-sm-12">
    <label for="basic-url" class="font-weight-bold">CPF</label>
	<input class="form-control" type="text" maxlength="11" name="cpf" th:field="*{cpf}" placeholder="Digite somente números" required onkeypress="return somenteNumeros(event)"/>
	
	</div>
	<div class="col-md-12 col-sm-12">
	<label for="basic-url" class="font-weight-bold">EMAIL</label>
	<input class="form-control" type="email" name="email" th:field="*{email}" placeholder="Email" required />
	</div>
	<div class="col-md-12 col-sm-12">
	<label for="basic-url" class="font-weight-bold">CONFIRMAR EMAIL</label>
	<input class="form-control" type="email" name="confirmar_email" placeholder="Confirmar email" required />
	</div>	
	<div class="col-md-12 col-sm-12">
	<label for="basic-url" class="font-weight-bold">DATA DE EXPIRAÇÃO</label>
	<input class="form-control" type="date" name="DataExpiracao" th:field="*{DataExpiracao}" placeholder="Data de Expiração" required />
	</div>	
	<label for="basic-url"></label> 
	<div class="col-md-12 col-sm-12 alert alert-warning" role="alert">
  		A senha do usuário será gerada automáticamente e enviada por email.
	</div>


	<div class="col-md-12 col-sm-12" >  
	<label for="basic-url"></label>  
    <button type="submit" class="btn btn-outline-secondary form-control">Cadastrar</button>
    </div>
	
    </div>
										
   
  </form>

  
  
</div>
	<!-- Importa o rodape padrão do sistema -->
	<div th:insert="layout/rodape"></div>

</body>
</html>